{% if page.title == "Home" %}
{% else %}
<script type="application/ld+json">
{ 
"@context": "http://schema.org", 
"@type": "BlogPosting",
"headline": "{{ page.title }}",
"editor": "{{ site.author.name }}", 
"genre": "programming", 
"keywords": "coding programming best-practices", 
"url": "{{ site.url }}{{ page.url }}",
"datePublished": "{{ page.date }}",
"dateCreated": "{{ page.date }}",
"articleBody": "{{ page.excerpt }}",
"author": {
"@type": "Person",
"name": "{{ site.author.name }}"
}
}
</script>
{% endif %}
